---
---

a, a:visited
  color: inherit

body
  margin: 0
  padding: 0
  font-family: sans-serif
  font-size: 18px

.container
  margin: 0

.default-container
  @extend .container
  padding: 4vw 0 0 0
  @media(max-width: 850px)
    padding: 6vw 0 0 0
  @media(max-width: 600px)
    padding: 5vh 0 0 0
  box-sizing: border-box

.main-preface
  font-size: calc(12px + 1vw)
  font-family: sans-serif
  padding-bottom: 1vh
  display: block

.main-title
  font-family: 'Orbitron'
  font-size: calc(40px + 8vw)
  text-shadow: 1px 1px 1px #999, 2px 2px 1px #999
  color: white
  font-weight: normal
  margin: 0 0 3rem
  @media(min-width: 850px)
    margin: 0 0 8rem
  @media(max-width: 600px)
  font-size: calc(20px + 8vw)
  padding: 0 0 0 1rem

.dodgy-margin
  @media(min-width: 600px)
    margin-left: 0.25em

.join
.join
  margin: 0 0 3em
  text-align: center
  @media(max-width: 849px)
    padding-left: 0
  @media(min-width: 850px)
    text-align: left
    margin: -13em 0 6em
  &.main
    margin: 0em 0 4em
    @media(min-width: 850px)
      margin: -5em 0 4em
  a
    font-size: 1.5rem
  @media(min-width: 850px)
    a
      font-size: 4rem

main > *
  padding-left: 1rem

table
  border-collapse: collapse
td
  border-bottom: 1px solid rgba(255, 255, 255, 0.5)

.row
  padding-left: 1rem
  display: flex
  justify-content: flex-start
  align-items: center
  max-width: 100vw
  margin: 0
  margin-bottom: 3rem
  @media(min-width: 850px)
    margin-bottom: 20rem
  padding-top: 1rem
  padding-bottom: 1rem
  //@media(min-width: 801px)
  @media(max-width: 800px)
    padding-right: 1em
    flex-direction: column
    align-items: center
    table
      margin-bottom: 2em
  .section-title
    text-align: center
    @media(min-width: 850px)
      width: 150px
      min-width: 150px
  > div
    max-width: 350px
    display: flex
    flex-direction: column
    &:first-of-type
      align-self: center
    @media(min-width: 850px)
      align-self: flex-start
      margin: 0 4em 0 0
  p, h4
    text-align: center
    margin-top: 0
    margin-bottom: 1em
  h4
    margin-bottom: 2em

$performance-color: #B1F8F2
.performance-row
  @extend .row
  border-top: 3px solid darken($performance-color, 40%)
  border-bottom: 3px solid darken($performance-color, 40%)
  background: $performance-color
  td
    padding-bottom: 0.25em

$geelong-color: #1C3C63
.geelong-row
  @extend .row
  color: white
  border-top: 3px solid lighten($geelong-color, 40%)
  border-bottom: 3px solid lighten($geelong-color, 40%)
  background: $geelong-color
  td
    padding-bottom: 0.25em

.drop-content
  max-width: 400px
  border: 2px solid white
  //box-shadow: 1px 1px 3px white, -1px -1px 3px white, 2px 2px 3px white, -2px -2px 3px white

$cast-color: #D7E8BA

.cast-row
  @extend .row
  border-top: 3px solid darken($cast-color, 40%)
  border-bottom: 3px solid darken($cast-color, 40%)
  background: $cast-color
  color: black
  td
    border-bottom: 1px solid rgba(0, 0, 0, 0.5)

$about-color: #FFFC99

.about-row
  @extend .row
  border-top: 3px solid darken($about-color, 40%)
  border-bottom: 3px solid darken($about-color, 40%)
  background: $about-color
  padding-bottom: 0
  article
    -moz-column-count: 3
    column-width: 20em
    column-gap: 3em
    break-before: column
    p
      display: inline-block
      text-align: left
      max-width: 30em

.default-footer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  padding: 1em 2rem 1em 1rem
  box-sizing: content-box
  box-shadow: 5px 5px black
  border-top: 3px solid darken(#6bccf5, 40%)
  background: darken(#6bccf5, 20%)
  @media(max-width: 1000px)
    position: static
    @media(min-width: 750px)
      margin-top: 50em
    .links
      position: fixed
      top: 0
      left: -100%
      transition: left 0.2s
      max-width: 20em
      max-height: 20em
      margin-bottom: 1em
      background: darken(#6bccf5, 20%)
      border: 3px solid darken(#6bccf5, 40%)
      padding: 1em
    a
      display: block
      margin-bottom: 0.5em
  @media(min-width: 1001px)
    height: 2rem
    .container
      display: flex
      justify-content: space-between
  a
    &, &:visited
    color: black
  .links a
    margin-right: 1em

#menu:target
  left: 0

header
  background: darken(#6bccf5, 20%)
  border-bottom: 3px solid darken(#6bccf5, 40%)
  border-right: 3px solid darken(#6bccf5, 40%)
  position: fixed
  left: 0
  top: 0
  //right: 0

a.material-icons
  text-decoration: none

.menu-button
  padding: 4px 3px 0

button.material-icons
  border: none
  background: inherit
  cursor: pointer
  color: white

.button
  border: 3px solid darken(#6bccf5, 40%)
  background: darken(#6bccf5, 20%)
  border-radius: 5px
  padding: 0.5em 2em
  margin-bottom: 1em

.main-tickets
  font-size: 1.2em
  margin-left: 1em
  position: relative
  @media(max-width: 850px)
    text-align: center
    top: -1em
    width: calc(100vw - 7em)
    display: block
  @media(min-width: 850px)
    font-size: 1.4em
    top: -16rem

.only-desktop
  @media(max-width: 1000px)
    display: none !important
.only-mobile
  @media(min-width: 1000px)
    display: none !important

#canvas
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: -1
  //pointer-events: none

.closed
  @extend .main-tickets
  font-size: calc(1vw + 14px)
  margin-left: 0.25em
  margin-right: 0.25em
  padding: 0.25em
  background: rgba(0, 0, 0, 0.7)
  color: white
  border-radius: 0.2em
  width: auto
  @media(min-width: 800px)
    max-width: 14em

@import 'bg'
@import 'mixins'
@import 'form'

*::placeholder
  color: rgba(0, 0, 0, 0.2)
