---
layout: default
---
<h1 class='main-title' style='font-size: 5rem; margin: 0 auto; max-width: 600px;'>
  Join<br>Camberwell<br>Showtime
</h1>
<div style='' data-name="join-now">
</div>
<article data-role=form style='max-width: 600px; background-color: #f5f5f5; margin: 0 auto 5em; border-radius: 3px'>
  <div style='display: none; padding-top: 1em' id=submitted-before>
    <div style='font-weight: bold; white-space: pre' class=text></div>
    <br>
    If you have any issues with these applications please contact us at <a href=mailto:producer@camberwellshowtime.com.au>producer@camberwellshowtime.com.au</a> and we'll fix it up for you :-)
  </div>
  <form class="pure-form pure-form-aligned" action='https://applications.camberwellshowtime.com.au/do-join' method=post>
    <fieldset>
      <h3>Show member details</h3>
      <div class="pure-control-group">
        <label for="first-name">First Name *</label>
        <input name="first-name" id="first-name" type="text" placeholder="Neville" required>
      </div>
      <div class="pure-control-group" style="display: none">
        <label for="something">Something *</label>
        <input name="something" id="something" type="text" placeholder="Something, not">
      </div>
      <div class="pure-control-group">
        <label for="preferred-name">Preferred Name</label>
        <input name="preferred-name" id="preferred-name" type="text" placeholder="Nev-Dog">
      </div>
      <div class="pure-control-group">
        <label for="last-name">Last Name *</label>
        <input name="last-name" id="last-name" type="text" placeholder="Kidd" required>
      </div>
      <div class="pure-control-group radio-flex">
        <label>Gender *</label>
        <div>
          <label style='margin-left: 0.5em; text-align: left'><input style='margin-right: 0.2em' type=radio id=gender-female name=gender value=Female>Female</label><br class='form-desktop-only'>
          <label style='margin-left: 0.5em; text-align: left'><input style='margin-right: 0.2em' type=radio id=gender-male name=gender value=Male>Male</label><br class='form-desktop-only'>
          <label style='margin-left: 0.5em; text-align: left'><input style='margin-right: 0.2em' type=radio id=_gender-other name=gender value=Other>Other: </label><br class='form-desktop-only'>
          <input style='margin-left: 0.5em; text-align: left' type=text id=gender-other name=gender-other disabled>
        </div>
        <script>
          var elems = document.forms[0].gender
          for(var i = 0; i < elems.length; i++) {
            elems[i].oninput = function(e) {
              document.forms[0]['gender-other'].disabled = document.forms[0].gender.value !== 'Other'
            }
          }
        </script>
      </div>
      <div class="pure-control-group">
        <input type=hidden name=dob required>
        <label for="dob">Date of birth*</label>
        <!-- TODO FINDME By August the 9th 2019, you must be 11 to participate in cast and 15 to participate in the technical team. -->
        <select required id=dob-year name=dob-year>
          <option selected value='' disabled=true>Year</option>
          {% for year in (1910..2009) reversed %}
          <option>{{year}}</option>
          {% endfor %}
        </select>
        <select required id=dob-month name=dob-month>
          <option selected value='' disabled=true>Month</option>
          {% for month in (01..12) %}
          <option value={{month | prepend: '00' | slice: -2, 2}}>{{month}}</option>
          {% endfor %}
        </select>
        <select required id=dob-day name=dob-day>
          <option selected value='' disabled=true>Day</option>
          {% for day in (01..31) %}
          <option value={{day | prepend: '00' | slice: -2, 2}}>{{day}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="pure-control-group" style='display: none; margin-left: 10em' id=not-old-enough>
        Unfortunately you are not old enough to do Camberwell Showtime this year :-(<br>
        You must be 11 by August 7 2020.
      </div>
      <script>
        document.forms[0]['dob-month'].oninput = function(e) {
          var m = e.target.value
          if(m == '2') {
            var arr = document.querySelectorAll('#dob-day [value="31"], #dob-day [value="30"]')
            for(var i = 0; i < arr.length; i++) {
              arr[i].disabled = true
              arr[i].selected = false
            }
          } else if(m == '1' || m == '3' || m == '5' || m == '7' || m == '8' || m == '10' || m == '12') {
            var arr = document.querySelectorAll('#dob-day [value="31"], #dob-day [value="30"]')
            for(var i = 0; i < arr.length; i++) {
              arr[i].disabled = false
            }
          } else {
            var arr = document.querySelectorAll('#dob-day [value="31"]')
            for(var i = 0; i < arr.length; i++) {
              arr[i].disabled = true
              arr[i].selected = false
            }
            arr = document.querySelectorAll('#dob-day [value="30"]')
            for(var i = 0; i < arr.length; i++) {
              arr[i].disabled = false
            }
          }
        }
      </script>
      <script>
        document.forms[0]['dob-year'].addEventListener('input', dobChange)
        document.forms[0]['dob-month'].addEventListener('input', dobChange)
        document.forms[0]['dob-day'].addEventListener('input', dobChange)
        function dobChange() {
            if(!(document.forms[0]['dob-year'].value && document.forms[0]['dob-month'].value && document.forms[0]['dob-day'].value)) return
            var dest = new Date(2020, 07, 07)
            document.forms[0].dob.value = document.forms[0]['dob-year'].value + '-' + document.forms[0]['dob-month'].value + '-' + document.forms[0]['dob-day'].value
            var dob = new Date(document.forms[0].dob.value)
            var age = dest.getFullYear() - dob.getFullYear()
            var m = dest.getMonth() - dob.getMonth()
            if (m < 0 || (m === 0 && dest.getDate() < dob.getDate())) {
                age--
            }
            if(age < 11) {
              document.getElementById('not-old-enough').style.display = 'block'
              document.forms[0].dob.setCustomValidity('Unfortunately you aren\'t old enough for Camberwell Showtime this year.')
            } else {
              document.getElementById('not-old-enough').style.display = 'none'
              document.forms[0].dob.setCustomValidity('')
            }
            var guardiansElem = document.getElementById('guardians')
            var elems = guardiansElem.querySelectorAll('input, select')
            var over18 = age >= 18
            guardiansElem.style.display = over18 ? 'none' : ''
            for(var i = 0; i < elems.length; i++) {
              elems[i].disabled = over18
            }
            elems = document.querySelectorAll('[name=wwc]')
            for(var i = 0; i < elems.length; i++) {
              elems[i].disabled = !over18
              elems[i].closest('.pure-control-group').style.display = over18 ? '' : 'none'
            }
            var adultElem = document.getElementById('adult')
            adultElem.style.display = over18 ? '' : 'none'
            elems = adultElem.querySelectorAll('input, select')
            for(var i = 0; i < elems.length; i++) {
              elems[i].disabled = !over18
            }
            var over15 = age >= 15
            var techElem = document.getElementById('tech')
            techElem.style.display = over15 ? '' : 'none'
            elems = techElem.querySelectorAll('input, select')
            for(var i = 0; i < elems.length; i++) {
              elems[i].disabled = !over15
            }
        }
      </script>
      <div class="pure-control-group">
        <label for="address">Address *</label>
        <input type='text' id=address name=address required placeholder='1/123 Some st'>
      </div>
      <div class="pure-control-group">
        <label for="suburb">Suburb *</label>
        <input type='text' id=suburb name=suburb required placeholder='Camberwell'>
      </div>
      <div class="pure-control-group">
        <label for="postcode">Postcode *</label>
        <input type='text' id=postcode name=postcode required placeholder='3124' pattern='[0-9]{4}' title='Please enter 4 digits.' oninvalid="this.setCustomValidity(this.title)" oninput="this.setCustomValidity('')">
      </div>
      <div class="pure-control-group">
        <label for="primary-phone">Primary phone number *</label>
        <input type='text' id=primary-phone name=primary-phone required pattern='[0-9]{8,10}' title='Please enter 8 or 10 digits as your phone number.' oninvalid="this.setCustomValidity(this.title)" oninput="this.setCustomValidity('')" placeholder=0400000000>
      </div>
      <div class="pure-control-group">
        <label for="alternative-phone">Alternative phone number</label>
        <input type='text' id=alternative-phone name=alternative-phone pattern='[0-9]{8,10}' title='Please enter 8 or 10 digits as your phone number.' oninvalid="this.setCustomValidity(this.title)" oninput="this.setCustomValidity('')" placeholder=90000000>
      </div>
      <div class="pure-control-group">
        <label for="email">Email address *</label>
        <input type='email' id='email' name='email' required placeholder='me@somewhere.com'>
      </div>
      <div class="pure-control-group">
        <label for="_group">Group *</label>
        <input type=hidden name=group />
        <select id=_group name=_group required>
          {% for group in site.data.groups %}
            {% assign value = group.value | default: group.label %}
            <option value='{{ value }}'>{{ group.label }}</option>
          {% endfor %}
        </select>
        <label for="other-group">Other group,<br class='form-desktop-only'> please specify</label>
        <input type=text id=group-other name=group-other disabled placeholder='1st Windy Corner'>
        <script>
          document.forms[0]._group.oninput = function(e) {
            document.forms[0]['group-other'].disabled = document.forms[0]._group.options[document.forms[0]._group.selectedIndex].value.toLowerCase() !== 'other'
            if(document.forms[0]._group.options[document.forms[0]._group.selectedIndex].value.toLowerCase() === 'other') {
              document.forms[0].group.value = document.forms[0]['group-other'].value
            } else {
              document.forms[0].group.value = document.forms[0]._group.options[document.forms[0]._group.selectedIndex].value
            }
          }
          document.forms[0]['group-other'].oninput = function(e) {
            document.forms[0].group.value = document.forms[0]['group-other'].value
          }
          document.forms[0]._group.oninput()
          document.forms[0]['group-other'].oninput()
        </script>
      </div>
      <div class="pure-control-group">
        <input type=hidden name=section />
        <label for="_section">Section *</label>
        <select id=_section name=_section required>
          {% for section in site.data.sections %}
            {% assign value = section.value | default: section.label %}
            <option value='{{ value }}'>{{ section.label }}</option>
          {% endfor %}
        </select>
        <input class='desktop-right-align' type=text id=section-other name=section-other disabled required>
        <script>
          document.forms[0]._section.oninput = function(e) {
            document.forms[0]['section-other'].disabled = document.forms[0]._section.options[document.forms[0]._section.selectedIndex].value.toLowerCase() !== 'other'
            if(document.forms[0]._section.options[document.forms[0]._section.selectedIndex].value.toLowerCase() === 'other') {
              document.forms[0].section.value = document.forms[0]['section-other'].value
            } else {
              document.forms[0].section.value = document.forms[0]._section.options[document.forms[0]._section.selectedIndex].value
            }
          }
          document.forms[0]['section-other'].oninput = function(e) {
            document.forms[0].section.value = document.forms[0]['section-other'].value
          }
          document.forms[0]._section.oninput()
          document.forms[0]['section-other'].oninput()
        </script>
      </div>
      <div class="pure-control-group">
        <label>Have a Working With Children Check? *</label>
        <label style='width: auto;' class='desktop-radio-left'><input style='margin-right: 0.2em' type=radio id=wwc-yes name=wwc value=Yes>Yes</label>
        <label style='width: auto;' class='desktop-radio-between'><input style='margin-right: 0.2em' type=radio id=wwc-no name=wwc value=No>No</label>
      </div>
      <div class="pure-control-group">
        <label for="membership-number">Scout/Girl Guide Membership number</label>
        <input id="membership-number" name="membership-number" type="text" placeholder="123456" pattern='[0-9]+' title='Please enter your membership number as digits only.' oninvalid="this.setCustomValidity(this.title)" oninput="this.setCustomValidity('')">
      </div>
      <div class="pure-control-group">
        <label for="school">School</label>
        <input id="school" name="school" type="text" placeholder="Camberhorn Grammar">
      </div>
      <div class="pure-control-group">
        <label for="school-year">Year</label>
        <input id="school-year" name="school-year" type="text" placeholder="10">
      </div>
      <div class="pure-control-group">
        <label for="occupation">Occupation</label>
        <input id="occupation" name="occupation" type="text" placeholder="Wizard">
      </div>
      <div class="pure-control-group radio-flex">
        <label>Do you play a musical instrument?</label>
        <div style='margin-left: 0.5em'>
          {% for instrument in site.data.instruments %}
            {% assign value = instrument.value | default: instrument.label %}
            <label style='text-align: left'>
              <input type=checkbox name=instruments value='{{ value }}'>
              {{ instrument.label }}
            </label><br class='form-desktop-only'>
          {% endfor %}
          <input style='text-align: left' type=text name=instrument-other disabled required>
        </div>
        <script>
          document.querySelector('[name=instruments][value=Other]').oninput = function(e) {
            document.forms[0]['instrument-other'].disabled = !document.querySelector('[name=instruments][value=Other]').checked
          }
        </script>
      </div>
      <div class="pure-control-group">
        <label for="instruments-time">How many years have you played/studied these instruments?</label>
        <input id="instruments-time" name="instruments-time" type="text" placeholder="Ukulele: 20 years">
      </div>
      <div class="pure-control-group">
        <label for="hobbies">Do you have any other hobbies or interests?</label>
        <input id="hobbies" name="hobbies" type="text" placeholder="Quidditch">
      </div>
      <!--  // TODO FINDME DONT COMMIT  NEED TO DO REQUIRED-NESS -->
      <h3>What would you like to do? (required)</h3>
      <div class="pure-control-group" id=production>
        <h4>Production</h4>
        {% for role in site.data.role_production %}
          {% assign value = role.value | default: role.label %}
          <label class='desktop-right-align'>
            <input type=checkbox name=roles-production value='{{ value }}' required>
            {{ role.label }}
          </label><br class='form-desktop-only'>
        {% endfor %}
      </div>
      <div id=tech>
        <h4>Technical (open to people aged 15 and over)</h4>
        <div class="pure-control-group">
          {% for role in site.data.role_tech %}
            {% assign value = role.value | default: role.label %}
            <label class='desktop-right-align'>
              <input type=checkbox name=roles-tech value='{{ value }}' required>
              {{ role.label }}
            </label><br class='form-desktop-only'>
          {% endfor %}
        </div>
      </div>
      <div id=adult>
        <h4>Adult support</h4>
        <div class="pure-control-group">
          {% for role in site.data.role_adult %}
            {% assign value = role.value | default: role.label %}
            <label class='desktop-right-align'>
              <input type=checkbox name=roles-adult value='{{ value }}' required>
              {{ role.label }}
            </label><br class='form-desktop-only'>
          {% endfor %}
        </div>
      </div>
      <div id='guardians'>
        <h3>Parent/Guardian contact details</h3>
        <h4>Primary Contact</h4>
        <div class="pure-control-group">
          <label>Relationship *</label>
          <label class='desktop-radio-left' style='width: auto'><input style='margin-right: 0.2em' type=radio id='guardian1-relationship-guardian' name='guardian1-relationship' value=Guardian required>Guardian</label>
          <label class='desktop-radio-between' style='width: auto'><input style='margin-right: 0.2em' type=radio id='guardian1-relationship-parent' name='guardian1-relationship' value=Parent required>Parent</label>
        </div>
        <div class="pure-control-group">
          <label for="guardian1-first-name">First Name *</label>
          <input name="guardian1-first-name" id="guardian1-first-name" type="text" placeholder="Neville Snr" required>
        </div>
        <div class="pure-control-group">
          <label for="guardian1-last-name">Last Name *</label>
          <input name="guardian1-last-name" id="guardian1-last-name" type="text" placeholder="Kidd" required>
        </div>
        <div class="pure-control-group">
          <label for="guardian1-primary-phone">Primary phone number *</label>
          <input type='text' id=guardian1-primary-phone name=guardian1-primary-phone required pattern='[0-9]{8,10}' title='Please enter 8 or 10 digits as your phone number.' oninvalid="this.setCustomValidity(this.title)" oninput="this.setCustomValidity('')" placeholder=0400000000>
        </div>
        <div class="pure-control-group">
          <label for="guardian1-alternative-phone">Alternative phone number</label>
          <input type='text' id=guardian1-alternative-phone name=guardian1-alternative-phone pattern='[0-9]{8,10}' title='Please enter 8 or 10 digits as your phone number.' oninvalid="this.setCustomValidity(this.title)" oninput="this.setCustomValidity('')" placeholder=90000000>
        </div>
        <div class="pure-control-group">
          <label for="guardian1-email">Email address *</label>
          <input type='email' id='guardian1-email' name='guardian1-email' required placeholder='me@somewhere.com'>
        </div>
        <div class="pure-control-group" style='display: flex'>
          <label for="guardian1-address">Address *</label>
          <div style='margin-left: 0.25em'>
            <input type='text' id=guardian1-address name=guardian1-address required placeholder='1/123 Some st, Camberwell, 3124'>
            <br>
            <button id=guardian1-address-button type=button style='border: none; background: none; color: blue; text-decoration: underline; font-size: 90%; font-style: italic'>Copy from member</button>
            <script>
              document.getElementById('guardian1-address-button').onclick = function() {
                document.getElementById('guardian1-address').value = [ document.getElementById('address').value, document.getElementById('suburb').value, document.getElementById('postcode').value ].filter(function(x) { return !!x }).join(', ')
              }
            </script>
          </div>
        </div>
        <div class="pure-control-group">
          <label for="guardian1-occupation">Occupation</label>
          <input type='text' id=guardian1-occupation name=guardian1-occupation placeholder="Senior Wizard">
        </div>
        <h4>Secondary Contact</h4>
        <div class="pure-control-group">
          <label>Relationship *</label>
          <label class='desktop-radio-left' style='width: auto'><input style='margin-right: 0.2em' type=radio id='guardian2-relationship-guardian' name='guardian2-relationship' value=Guardian required>Guardian</label>
          <label class='desktop-radio-between' style='width: auto'><input style='margin-right: 0.2em' type=radio id='guardian2-relationship-parent' name='guardian2-relationship' value=Parent required>Parent</label>
        </div>
        <div class="pure-control-group">
          <label for="guardian2-first-name">First Name *</label>
          <input name="guardian2-first-name" id="guardian2-first-name" type="text" placeholder="Neville Snr" required>
        </div>
        <div class="pure-control-group">
          <label for="guardian2-last-name">Last Name *</label>
          <input name="guardian2-last-name" id="guardian2-last-name" type="text" placeholder="Kidd" required>
        </div>
        <div class="pure-control-group">
          <label for="guardian2-primary-phone">Primary phone number *</label>
          <input type='text' id=guardian2-primary-phone name=guardian2-primary-phone required pattern='[0-9]{8,10}' title='Please enter 8 or 10 digits as your phone number.' oninvalid="this.setCustomValidity(this.title)" oninput="this.setCustomValidity('')" placeholder=0400000000>
        </div>
        <div class="pure-control-group">
          <label for="guardian2-alternative-phone">Alternative phone number</label>
          <input type='text' id=guardian2-alternative-phone name=guardian2-alternative-phone pattern='[0-9]{8,10}' title='Please enter 8 or 10 digits as your phone number.' oninvalid="this.setCustomValidity(this.title)" oninput="this.setCustomValidity('')" placeholder=90000000>
        </div>
        <div class="pure-control-group">
          <label for="guardian2-email">Email address *</label>
          <input type='email' id='guardian2-email' name='guardian2-email' required placeholder='me@somewhere.com'>
        </div>
        <div class="pure-control-group">
          <label for="guardian2-occupation">Occupation</label>
          <input type='text' id=guardian2-occupation name=guardian2-occupation placeholder="Senior Wizard">
        </div>
      </div>
      <button type="submit" class="desktop-right-align pure-button pure-button-primary">Join us!</button>
  </form>
</article>
<section data-role="after-submission">
  <div>
    <p>Thanks for your application for the 56th Camberwell Showtime! We're so excited to have you on the team!</p>
    <p>We will send an email to <span style='font-weidht: bold' id=submission-emails></span> with more details soon (if there's anything wrong please email <a href=mailto:producer@camberwellshowtime.com.au>producer@camberwellshowtime.com.au</a> and we'll fix it up for you).</p>
    <p>We'll be in touch with additional details soon but for now <a href="/#cast-calendar">here</a> are a list of dates that you’ll need to know.</p>
    <p>If you’re on Facebook, connect with us by <a href="//www.facebook.com/CamberwellShowtime">liking our page</a> to keep up to date on all the latest Showtime info.</p>
    <p>See you soon!</p>
  </div>
</section>
<p class="over-11">You must be over 11 to do Camberwell Showtime</p>

<footer class='default-footer'>
  <nav class='container'>
    <div class='links' id='menu'>
      <a href='/'>Home</a>
      <a href='https://www.facebook.com/CamberwellShowtime/'>Facebook</a>
      <a href='#' class='only-mobile'>Close menu</a>
    </div>
    <div class='contact' id='contact'>
      Contact:
      {% for contact in site.data.contacts.contacts %}
      {% if contact.href %}
      <a href='{{ contact.href }}'>{{ contact.label }}</a>
      {% else %}
      <a href='mailto:{{ contact.email }}'>{{ contact.label }}</a>
      {% endif %}
      {% endfor %}
    </div>
    {% if site.data.general.members_area_url %}
    <a class='only-desktop' href='{{ site.data.general.members_area_url }}'>Member's area</a>
    {% endif %}
  </nav>
</footer>

<script src="//cdn.jsdelivr.net/npm/mailcheck@1.1.1/src/mailcheck.min.js" integrity="sha256-aAPNEz/OtzaNXAt4jf5P9xxwG8GvJ5owTS5BtGMELGs=" crossorigin="anonymous"></script>
<script>
var parsedUrl = new URL(window.location.href)
parsedUrl.searchParams.forEach(function(v, k) {
  console.log(k, v)
  var elem = document.getElementById(k)
  if(elem) {
    if(elem.type.toLowerCase() == 'radio' || elem.type.toLowerCase() == 'checkbox') {
      elem.checked = elem.selected = true
    } else {
      elem.value = v
    }
  } else {
    elem = document.getElementById(k + '-' + v.toLowerCase())
    if(elem) {
      elem.checked = elem.selected = true
    }
  }
})
var section = parsedUrl.searchParams.get('section')
if(section) {
  var elem = document.querySelector('#_section [value="'+section+'"]')
  if(elem) elem.checked = elem.selected = true
  else {
    var elem = document.querySelector('#_section [value="Other"]')
    elem.selected = true
    document.querySelector('#section-other').value = section
  }
}
document.forms[0].section.oninput()
var group = parsedUrl.searchParams.get('group')
if(group) {
  var elem = document.querySelector('#_group [value="'+group+'"]')
  if(elem) elem.checked = elem.selected = true
  else {
    var elem = document.querySelector('#_group [value="Other"]')
    elem.selected = true
    document.querySelector('#group-other').value = group
  }
}
document.forms[0].group.oninput()
var gender = parsedUrl.searchParams.get('gender')
if(gender) {
  var elem = document.querySelector('#gender-'+gender.toLowerCase())
  if(elem) elem.checked = elem.selected = true
  else {
    var elem = document.querySelector('#_gender-other')
    elem.checked = elem.selected = true
    document.querySelector('#gender-other').value = gender
  }
}
document.forms[0]['_gender-other'].oninput()
dobChange()

var elems = document.querySelectorAll('[type=email]')
var domains = Mailcheck.defaultDomains.concat(['yahoo.com.au', 'hotmail.com.au', 'bigpond.com.au', 'bigpond.com', 'tpg.com.au', 'iinet.com.au'])
var topLevelDomains = Mailcheck.defaultTopLevelDomains.concat([ 'com', 'com.au', 'net', 'net.au', 'au' ])
var secondLevelDomains = Mailcheck.defaultSecondLevelDomains.concat([ 'hotmail' ])
for(var i = 0; i < elems.length; i++) {
  elems[i].onblur = function(e) {
    Mailcheck.run({
      email: this.value,
      domains: domains,
      topLevelDomains: topLevelDomains,
      secondLevelDomains: secondLevelDomains,
      suggested: function(suggestion) {
        var target = e.target
        var elems = target.parentElement.querySelectorAll('[data-suggestion]')
        for(var i = 0; i < elems.length; i++) elems[i].parentElement.removeChild(elems[i])
        var div = document.createElement('div')
        div.style.marginLeft = '10.2em'
        div.setAttribute('data-suggestion', '')
        div.innerHTML = 'Did you mean: '
        var span = document.createElement('span')
        span.style.textDecoration = 'underline'
        span.style.cursor = 'pointer'
        span.innerHTML = suggestion.full
        span.onclick = function() {
          target.value = suggestion.full
          var elems = target.parentElement.querySelectorAll('[data-suggestion]')
          for(var i = 0; i < elems.length; i++) elems[i].parentElement.removeChild(elems[i])
        }
        div.appendChild(span)
        target.parentElement.appendChild(div)
      },
      empty: function() {
        var elems = e.target.parentElement.querySelectorAll('[data-suggestion]')
        for(var i = 0; i < elems.length; i++) elems[i].parentElement.removeChild(elems[i])
      }
    })
  }
}
</script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr@4.5.2/dist/flatpickr.css" integrity="sha256-tUFg4y6qj4WTN1LzL83dCuIJwr/+Vhph/nf82gD/X2w=" crossorigin="anonymous">
<script src="//cdn.jsdelivr.net/npm/flatpickr@4.5.2/dist/flatpickr.min.js" integrity="sha256-44TeE1bzEP4BfpL6Wb05CVgLDKN6OzOAI79XNMPR4Bs=" crossorigin="anonymous"></script>
<script>
var elems = document.querySelectorAll('[type=date]')
for(var i = 0; i < elems.length; i++) {
  var elem = elems[i]
  flatpickr(elem, { minDate: elem.getAttribute('min'), maxDate: elem.getAttribute('max') })
}
</script>
<script>
  var elems = document.querySelectorAll('#production input, #tech input, #adult input')
  for(var i = 0; i < elems.length; i++) {
    elems[i].onchange = setRequiredForRoles
  }
  function setRequiredForRoles() {
    var inputs = document.querySelectorAll('#production input, #tech input, #adult input')
    var isRequired = document.querySelectorAll('#production input:checked, #tech input:checked, #adult input:checked').length === 0
    for(var i = 0; i < inputs.length; i++) {
      inputs[i].required = isRequired
    }
  }
  setRequiredForRoles()
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script>
if(window.localStorage) {
  var submittedBefore = window.localStorage.getItem('submitted2020') || ''
  if(submittedBefore) {
    $('#submitted-before .text').text('Just so you know, you have already applied for:\n - ' + submittedBefore.split(',').join('\n - '))
    $('#submitted-before').css('display', 'block')
  }
}
$('form').on('submit', function(e) {
  if(window.submitting) return
  window.submitting = true
  $('form button[type=submit]')[0].disabled = true
  e.preventDefault()
  $.ajax({
    type: $('form').prop('method'),
    url: $('form').prop('action'),
    data: $('form').serialize(),
    dataType: 'json',
  })
  .done(function(data) {
    if(window.localStorage) {
      var submittedBefore = window.localStorage.getItem('submitted2020') || ''
      if(submittedBefore) submittedBefore += ','
      window.localStorage.setItem('submitted2020', submittedBefore + data.preferredName + ' ' + data.lastName + ' ' + data.email)
    }
    $('#submission-emails').text($.unique([ data.email, data.guardian1Email, data.guardian2Email ].filter(function(x) { return !!x })).join(', ').replace(/,([^,]+)$/, ', and $1'))
    $('[data-role="form"]').remove()
    $('[data-role="after-submission"]').css({
      display: 'block',
      maxWidth: '600px',
      backgroundColor: '#f5f5f5',
      margin: '0 auto 5em',
      borderRadius: '3px',
      padding: '1em',
    })
  })
  .always(function() {
    window.submitting = false
    if($('form button[type=submit]').length) $('form button[type=submit]')[0].disabled = false
  })
})
</script>
