---
layout: default
---
<canvas id='canvas'></canvas>
<small class='main-preface'>The 54th Camberwell Showtime presents:</small>
<h1 class='main-title'>
  Snowed<span style='font-size: 60%'> </span>Inn
</h1>

{% if site.data.general.tickets_url %}
<a class='button main-tickets' href='{{ site.data.general.tickets_url }}'><span class='only-desktop'>Buy </span>Tickets</a>
<a class='button main-tickets' href='{{ site.data.general.getting_here_url }}'>
  Getting Here<!--
  --><i class='material-icons' style='font-size: 1em; cursor: pointer; vertical-align: middle; margin-left: 0.1em' title='We recommend arriving 20 minutes early to get a carpark.'>info_outline</i>
</a>
{% endif %}

<section id='performance' class='performance-row'>
  <div class='section-title'>
    <h2>
      Performance
    </h2>
  </div>
  <div>
    {% include_markdown performance_dates.md %}
  </div>
  <div>
    {% include_markdown performance_venue.md %}
  </div>
</section>

<section id='cast' class='cast-row'>
  <div class='section-title'>
    <h2>
      Cast
    </h2>
  </div>
  <div>
    {% include_markdown cast_dates.md %}
  </div>
  <div>
    {% include_markdown cast_rehearsing.md %}
  </div>
</section>

<section id='about' class='about-row'>
  <div class='section-title'>
    <h2>
      About
    </h2>
  </div>
  <article>
    {% include_markdown about.md %}
  </article>
</section>

<script>
(function() {
    var requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame ||
    function(callback) {
        window.setTimeout(callback, 1000 / 60);
    };
    window.requestAnimationFrame = requestAnimationFrame;
})();


var flakes = [],
    canvas = document.getElementById("canvas"),
    ctx = canvas.getContext("2d"),
    flakeCount = 400,
    mX = -100,
    mY = -100

    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;

function snow() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);

    for (var i = 0; i < flakeCount; i++) {
        var flake = flakes[i],
            x = mX,
            y = mY,
            minDist = 150,
            x2 = flake.x,
            y2 = flake.y;

        var dist = Math.sqrt((x2 - x) * (x2 - x) + (y2 - y) * (y2 - y)),
            dx = x2 - x,
            dy = y2 - y;

        if (dist < minDist) {
            var force = minDist / (dist * dist),
                xcomp = (x - x2) / dist,
                ycomp = (y - y2) / dist,
                deltaV = force / 2;

            flake.velX -= deltaV * xcomp;
            flake.velY -= deltaV * ycomp;

        } else {
            flake.velX *= .98;
            if (flake.velY <= flake.speed) {
                flake.velY = flake.speed
            }
            flake.velX += Math.cos(flake.step += .05) * flake.stepSize;
        }

        ctx.fillStyle = "rgba(255,255,255," + flake.opacity + ")";
        flake.y += flake.velY;
        flake.x += flake.velX;

        if (flake.y >= canvas.height || flake.y <= 0) {
            reset(flake);
        }


        if (flake.x >= canvas.width || flake.x <= 0) {
            reset(flake);
        }

        ctx.beginPath();
        ctx.arc(flake.x, flake.y, flake.size, 0, Math.PI * 2);
        ctx.fill();
    }
    requestAnimationFrame(snow);
};

function reset(flake) {
    flake.x = Math.floor(Math.random() * canvas.width);
    flake.y = 0;
    flake.size = (Math.random() * 3) + 2;
    flake.speed = (Math.random() * 1) + 0.5;
    flake.velY = flake.speed;
    flake.velX = 0;
    flake.opacity = (Math.random() * 0.5) + 0.3;
}

function init() {
    for (var i = 0; i < flakeCount; i++) {
        var x = Math.floor(Math.random() * canvas.width),
            y = Math.floor(Math.random() * canvas.height),
            size = (Math.random() * 3) + 2,
            speed = (Math.random() * 1) + 0.5,
            opacity = (Math.random() * 0.5) + 0.3;

        flakes.push({
            speed: speed,
            velY: speed,
            velX: 0,
            x: x,
            y: y,
            size: size,
            stepSize: (Math.random()) / 30,
            step: 0,
            opacity: opacity
        });
    }

    snow();
};

canvas.addEventListener("mousemove", function(e) {
    mX = e.clientX,
    mY = e.clientY
});

window.addEventListener("resize",function(){
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
})

init();
</script>
