---
layout: default
---
<canvas id='canvas'></canvas>
<h1 class='main-title'>
  <div style='font-size: 40%; margin-bottom: 0.5em;'>Camberwell Showtime 2020:</div>
  <div style='font-size: 60%;'>Is being written now!</div>
</h1>

{% if site.data.general.join_url %}
<section class=join style='margin-top: 3em'>
  <a href='{{ site.data.general.join_url }}' style='font-family: "Orbitron"; color: white; border: 5px solid white; border-radius: 5px; padding: 0.25em; background: rgba(255,0,0,0.85)'>Join the 2020 show!</a>
</section>
{% endif %}

<section id='cast' class='cast-row'>
  <div class='section-title'>
    <h2>
      Cast
    </h2>
  </div>
  <div>
    {% include_markdown cast_dates.md %}
  </div>
  <div>
    {% include_markdown cast_rehearsing.md %}
  </div>
</section>

{% if site.data.general.join_url %}
<section class=join>
  <a href='{{ site.data.general.join_url }}' style='font-family: "Orbitron"; color: white; border: 5px solid white; border-radius: 5px; padding: 0.25em; background: rgba(255,0,0,0.85)'>Join now!</a>
</section>
{% endif %}

<section id='performance' class='performance-row'>
  <div class='section-title'>
    <h2 style='text-align: center'>
      Performances
    </h2>
  </div>
  <div>
    {% include_markdown performance_dates.md %}
  </div>
  <div>
    {% include_markdown performance_venue.md %}
  </div>
</section>

{% if site.data.general.join_url %}
<section class=join>
  <a href='{{ site.data.general.join_url }}' style='font-family: "Orbitron"; color: white; border: 5px solid white; border-radius: 5px; padding: 0.25em; background: rgba(255,0,0,0.85)'>Join now!</a>
</section>
{% endif %}

<section id='about' class='about-row'>
  <div class='section-title'>
    <h2>
      About
    </h2>
  </div>
  <article>
    {% include_markdown about.md %}
  </article>
</section>

{% if site.data.general.join_url %}
<section class=join>
  <a href='{{ site.data.general.join_url }}' style='font-family: "Orbitron"; color: white; border: 5px solid white; border-radius: 5px; padding: 0.25em; background: rgba(255,0,0,0.85)'>Join now!</a>
</section>
{% endif %}

<footer class='default-footer'>
  <nav class='container'>
    <div class='links' id='menu'>
      <a href='#top'>Top</a>
      <a href='#cast'>Cast details</a>
      <a href='#performance'>Performances</a>
      <a href='#about'>About</a>
      <a href='#contact' class='only-mobile'>Contact</a>
      <a href='https://www.facebook.com/CamberwellShowtime/'>Facebook</a>
      {% if site.data.general.members_area_url %}
      <a class='only-mobile' href='{{ site.data.general.members_area_url }}'>Member's area</a>
      {% endif %}
      <a href='#' class='only-mobile'>Close menu</a>
    </div>
    <div class='contact' id='contact'>
      Contact:
      {% for contact in site.data.contacts.contacts %}
      {% if contact.href %}
      <a href='{{ contact.href }}'>{{ contact.label }}</a>
      {% else %}
      <a href='mailto:{{ contact.email }}'>{{ contact.label }}</a>
      {% endif %}
      {% endfor %}
    </div>
    {% if site.data.general.members_area_url %}
    <a class='only-desktop' href='{{ site.data.general.members_area_url }}'>Member's area</a>
    {% endif %}
  </nav>
</footer>
